## Ambiente local
/.venv
/__pycache__/
.env

## Artefatos do scraper
seletores.js
/microsoft_session/


## Ferramentas e caches futuros
/.pytest_cache/
/.ruff_cache/
/.mypy_cache/
iniciar.bat (Rewards Automação - Navegador).lnk

modulo_links/perfil_oh
modulo_links/seletors.json
modulo_links/__pycache__/